body, html {

    margin:0;

}

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    box-sizing: content-box;
}

.row {
    width:100%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #000;
}



.column.two-thirds, .column.four-sixths
{
    width: 66.66%;
    background-color: #7abcff;
}

.column.one-half, .column.two-fourths, .column.four-eighths, column.three-sixths {
    width: 50%;
    background-color: #7abcff;
}

.column.one-third, column.two-sixths {
    width: 33.33%;
    background-color: #c7d2e2;
}

.column.three-eighths {
    width: 37.5%;
    background-color: #af2b2b;
}

.column.five-eighths {
    width: 62.5%;
    background-color: #ffffff;
}

.column.three-fourths, .column.six-eighths {
    width: 75%;
    background-color: bisque;
}
.column.five-sixths {
    width: 83.33%;
    background-color: ghostwhite;
}

.column.seven-eighths {
    width: 87.5%;
    background-color: #e4bfff;
}

.column.one-fourth, .column.two-eighths {
    width: 25%;
    background-color: #60abf8;
}

.column.one-sixth {
    width: 16.66%;
    background-color: #f0f0f0;
}

.column.one-eighth {
    width: 12.5%;
    background-color: #8c8b8b;
}

.column.offset-one-half {
    margin-right: 50%;
}

.column.offset-one-fourth {
    margin-right: 25%;
}

.column.offset-one-third {
    margin-right: 33%;
}

.column.offset-two-third {
    margin-right: 66%;
}

@media screen and (max-width:768px) {
    .column.one-third,
    .column.one-half {
        width: 100%;
    }
}

@media screen and (max-width:500px) {
    .column.one-fourth {
        width: 100%;
    }
}

@media screen and (max-width:400px) {
    .column.one-eighth,
    .column.one-sixth {
        width: 100%;
    }
}