@import url('https://fonts.googleapis.com/css?family=Abel|Anton');

body, html {
    background-color: #F0F0F0;
    margin: 0;
    padding: 0;
}


p {
    font-family: 'Abel', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Anton', sans-serif;

}
h1 {
    font-size: 64px;
    margin: 30px;
}
h2 {
    font-size: 48px;
    margin: 35px;
}
h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 28px;
}

.red {
    background-color: #E6563B;
}

.orange {
    background-color: #EB9D3A;
}

.green {
    background-color: #7CB06C;
}

.teal {
    background-color: #00ABA9;
}

.white {
    color: #F0F0F0;
}

.bg-white {
    background-color: #f0f0f0;
}

.grey {
    color: #E6E6E6;
}


.logo {
    height: 105px;
    width: 105px;
}

.logo-text {
    font-family: 'Abel', sans-serif;
    font-size: 50px;
    text-align: center;
    display: block;
}

.icon {
    width: 18px;
    height: 18px;
}


.btn-circle.btn-xl {
    width: 150px;
    height: 150px;
    padding: 11px 17px;
    border-radius: 75px;
    font-size: 24px;
    line-height: 1.33;
    border: 8px solid #fff;
    color: #fff;
    font-family: 'Anton', sans-serif;
    margin-right: 12px;
}

.btn-circle {
    width: 18px;
    height: 18px;
    padding: 7px 0px;
    border-radius: 9px;
    text-align: center;
    font-size: 10px;
    line-height: 0.4;
    font-family: 'Anton', sans-serif;
    color: #000;
    margin: 4px;
}


#header a {
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;

}

#header a:link, #header a:visited {
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;

}


#header {
    border-top: 30px solid #F0F0F0;
    border-bottom: 30px solid #F0F0F0;
    margin: 0;
    padding:0;
    z-index: 1;
    position: relative;
}


.work-image img {
    width:  100%;
    border: 10px solid #e6e6e6;
}

.work-feature {
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;

}




.last img {
    width: 50px;
    height: 50px;
    border: 2px solid #e6e6e6;
}

.last h5{
    text-transform: uppercase;
    font-size: 21px;
}

.tweet img {
    width: 25px;
    height: 25px;
}


.header-info {

    text-align: center;
}

.flex-grow {
    flex: 1 0 auto;
}


.sub-container {
    margin: 0px;
    padding: 0px
}


.bg-container {
    border-top: 55px solid #f0f0f0;
    background-color: #ffffff;
    height: 125px;
    width: 100%;
    margin:0;
    padding:0;
    text-align: center;
    z-index: 1;
    position: absolute;
    opacity: 1;

}





/* Only for small */
@media (max-width: 576px) {

    .wrap-it {
        break-after: right;
        width: 100%;
        text-align: center;
    }


    .align-center-xs {
        text-align: center;
        width: 100%;
    }

    #header a {
        font-size: 4vw;
    }


}

/*// Small devices (landscape phones, 576px and up)*/
    @media (min-width: 576px) {

        .ml-auto-sm {
             margin-left: auto;

         }

        .align-center-sm {
            text-align: center;
            width: 100%;
        }


        .work-feature.project {

            font-size: 1.60vw;
        }



    }

/*// Medium devices (tablets, 768px and up)*/
    @media (min-width: 768px) {
        .ml-auto-md {
            margin-left: auto;

        }

        .container {
            width: 100%;
            margin: 10px;
            max-width: 990px;
        }



        .align-center-md {
            text-align: center;
        }

        .align-left-md {
            text-align: left;
        }



        .work-feature.project {

            font-size: 1.40vw;
        }


    }

/*// Large devices (desktops, 992px and up)*/
    @media (min-width: 992px) {
        .ml-auto-lg {
            margin-left: auto;

        }

        .align-left-lg {
            text-align: left;
        }

        .work-feature.project {

            font-size: 1.5vw;
        }


        .container {
            width: 100%;
            margin: 10px;
            max-width: 1190px;
        }

    }

/*// Extra large devices (large desktops, 1200px and up)*/
    @media (min-width: 1200px) {
        .ml-auto-xl {
            margin-left: auto;

        }

        .container {
            width: 100%;
            margin: 10px;
            max-width: 1200px;
        }

    }