body, html {

    margin:0;

}

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    box-sizing: content-box;
}

.row {
    width:100%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

.column.two-thirds, .column.four-sixths
{
    width: 66.66%;
}

.column.one-half, .column.two-fourths, .column.four-eighths, column.three-sixths {
    width: 50%;
}

.column.one-third, column.two-sixths {
    width: 33.33%;
}

.column.three-eighths {
    width: 37.5%;
}

.column.five-eighths {
    width: 62.5%;
}

.column.three-fourths, .column.six-eighths {
    width: 75%;
}
.column.five-sixths {
    width: 83.33%;
}

.column.seven-eighths {
    width: 87.5%;
}

.column.one-fourth, .column.two-eighths {
    width: 25%;
}

.column.one-sixth {
    width: 16.66%;
}

.column.one-eighth {
    width: 12.5%;
}

.column.offset-one-half {
    margin-right: 50%;
}

.column.offset-one-fourth {
    margin-right: 25%;
}

.column.offset-one-third {
    margin-right: 33%;
}

.column.offset-two-third {
    margin-right: 66%;
}

@media screen and (max-width:768px) {
    .column.one-third, .column.three-fourths, .column.six-eighths, .column.five-eighths,
    .column.one-half, .column.two-fourths, .column.three-sixths, .column.four-eighths, .column.two-thirds {
        width: 100%;
    }
}

@media screen and (max-width:500px) {
    .column.one-fourth, .column.two-eighths {
        width: 100%;
    }
    .column.one-eighth {
        width:25%;
    }

}

@media screen and (max-width:400px) {
    .column.one-eighth,
    .column.one-sixth {
        width: 100%;
    }
}