
/* MOBILE */
/* screen sizes 500px and below */
@media screen and (max-width:450px) {


    html, body {
        padding: 0px;
        margin: 0px;
    }

    .alert-info {}
    .hidden-on-desktop {
        display: block;
        border: 1px solid #8c8b8b;
        background-color: #7abcff;
        text-align: center;
        padding: 10px;
        margin: 10px;
    }

    h1 {
        text-align: center;
        font-size: 15vw;
        margin: 0;
    }

    section h2 {
        font-size: 8vw;
    }
    ul {
        padding: 0px;

    }



    .nav-links {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        background-color: #c7d2e2;
        list-style: none;
        padding: 10px;
        text-align: center;
    }

    .header-img {
        text-align: center;
        width: 100%;
    }


    section {
        padding: 10px;

    }
    footer p {
        float: left;
    }
    

    #social-media-links .social {
        width: 25px;
        height: 25px;
        padding: 10px;
        display: inline-block;
    }

    #social-media-links a {
        display: block;

    }

    .twitter {
        background-image: url("../images/twitter.png");
        background-repeat: no-repeat;
        background-size: 25px 25px;
        background-position: 50% 50%;
    }
    .fb {
        background-image: url("../images/facebook.png");
        background-repeat: no-repeat;
        background-size: 25px 25px;
        background-position: 50% 50%;
    }
    .instagram {
        background-image: url("../images/instagram.png");
        background-repeat: no-repeat;
        background-size: 25px 25px;
        background-position: 50% 50%;
    }


}

/* DESKTOP */
/* screen sized above 500px*/
@media screen and (min-width:451px) {


    html, body {
        padding: 10px;
        margin: 0px;
    }

    .alert-info {}

    .hidden-on-desktop {
        display: none;
    }

    h1 {
        text-align: left;
        font-size: 5vw;
        margin: 0;
    }

    section h2 {
        font-size: 3vw;
    }

    ul {
        padding: 0px;

    }

    .nav-links {
        display: inline-block;
        margin-bottom: 10px;
        list-style: none;
        padding: 10px;
        text-align: right;
    }

    .header-img {
        text-align: center;
        width: 100%;
    }
    .header-img img {
    }


    section {
        padding: 10px;

    }
    section.main {
        float: left;
    }

    section.sub-section {
        float: left;

    }

    footer p {
        float: left;
    }
    #social-media-links   {
        text-align: center;
    }

    #social-media-links .social {
        padding: 10px;
        display: inline-block;
        text-align: center;
    }

    #social-media-links a {
        display: block;
        width: 25px;
        height: 25px;
    }

    .twitter {
        background-image: url("../images/twitter.png");
        background-repeat: no-repeat;
        background-size: 50px 50px;
        background-position: 50% 50%;
    }
    .fb {
        background-image: url("../images/facebook.png");
        background-repeat: no-repeat;
        background-size: 50px 50px;
        background-position: 50% 50%;
    }
    .instagram {
        background-image: url("../images/instagram.png");
        background-repeat: no-repeat;
        background-size: 50px 50px;
        background-position: 50% 50%;
    }




}
